.containerLeft__fishList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    justify-content: left;
    
}

.fishCard {
    border: solid black;
    padding: 2px;
    background-color: lightgray;
    margin: 2px;
    font-size: 20px;

}

.fishIMG {
    width: 300px;
    height: 200px;
    border-radius: 60px;
    
}