.fishList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    justify-content: left;
    
}

.fish {
    border: solid darkslategrey;
    border-radius: 35px;
    padding: 2px;
    background-color: lightgray;
    margin: 8px;
    font-size: 20px;
    box-shadow: 10px 10px 5px darkslategray;
}

.fish__image {
    width: 300px;
    height: 200px;
    border-radius: 60px;
    
}