.containerLeft__travelLocations {
    display: flex;
    flex-direction: column;
    text-align: center; 
}

.locationList {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: left;
}

.location {
    margin: 4px;
}

.location__image {
    border: solid aliceblue;
    box-shadow: 10px 10px 5px darkslategray;
    height: 300px;
    width: 400px;
}
