@import "./fish.css";
@import "./quoteCard.css";
@import "./travelCard.css";

header {
    background-color: lightgray;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.logo {
    width: 200;
    height: 200;
    
}

h1 {
    color: navy;
    font-size: 80px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
nav, a {
    color: midnightblue;
    font-size: 20px;
    text-align: right;
}

nav, a:hover {
    color: dodgerblue;
}

.contentContainer {
    display: flex;
    background-color: slategrey;
}

.containerLeft {
    flex-basis: 75%;
}

.containerRight {
    background-color: tan;
    flex-basis: 25%;
    font-size: 20px;
}



footer {
    background-color: lightgray;
    display: flex;
    display: row;

}

footer, a {
    margin-right: 10px;
    padding-right: 5px;
}


