.containerLeft__travelQuotes {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: left;
    background-color: lightgray;
}

.quoteCard {
    margin: 4px;
}

.quoteCardImg {
    width: 400px;
    height: 300px;
    box-shadow: 10px 10px 5px grey;
    
}

