.containerLeft__travelQuotes {
    display: flex;
    flex-direction: column;
    text-align: center;    
    background-color: lightgray;
}

.travelQuotesTitle {
    font-size: 40px;
}
.travelList {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: left;

}

.travel {
    margin: 4px;
}

.travel__image {
    width: 400px;
    height: 300px;
    box-shadow: 10px 10px 5px grey;
    border: solid darkslategray;
    
}

